.input-field[type="text"] {
  font-family: Raleway, consolas;
  font-size: 1rem;
}

form {
  display: flex;
  gap: 25px;
}

.btn-add {
  font-family: Raleway;
  font-size: 1.5rem;
  text-align: center;
  height: 3rem;
  width: auto;
  color: (var(--light-color));
}

@media (prefers-color-scheme: light) {
  .btn-add {
    color: var(--black-color);
  }
}
