body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}

ul {
  font-size: 1.8rem;
  padding: 0;
}

ul.todo {
  margin-top: 50px;
}

.show-done {
  background-color: var(--primary-color);
  color: var(--dark-color);
  text-align: left;
  border: none;
  padding-left: 25px;
  font-size: 1.5rem;
  border-radius: 5px;
  width: 100%;
}
